body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.generate-btns-wrapper {
    width: 500px;
    margin: 2rem auto 1rem auto;
}

button {
    height: 2rem;
    border: none;
}

button:hover {
    background-color: lightgray;
}

.refresh-btn {
    margin-left: 6rem;
}

.solve-btn {
    margin: 1rem;
    width: 3rem;
}

button:focus {
    outline: none;
}


.sudoku-wrapper {
    display: grid;
    grid: repeat(9, 1fr) / repeat(9, 1fr);
    width: 500px;
    height: 500px;
    margin: auto;
    border: 1px solid black;
}

.cell {
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:nth-of-type(3n+3) {
    border-right: 1px solid black;
}

.cell:nth-child(n+19):nth-child(-n+27), 
.cell:nth-child(n+46):nth-child(-n+54){
    border-bottom: 1px solid black;
}

.cell > p {
    margin: 0;
    font-size: 1.5rem;
}